@media all {
.LINKS_RECHTS_Width { -webkit-flex: 1 1 auto !important; -moz-flex: 1 1 auto !important; -ms-flex: 1 1 auto !important; -o-flex: 1 1 auto !important; flex: 1 1 auto !important;   width:80px;
  min-width:80px;
  max-width:120px;
}

}

